*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.zero {
    opacity: 0;
    display: none;
}

.container {
    width: 100%;
    height: 100vh;
    background: #0e5cca;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.largeText{
    font-size: 70px;
    font-weight: 600;
    padding: 50px;
}

.main { 
    display: flex; 
    justify-content: right;
    flex-direction: row-reverse;
  }
.a, .b { background: #efefef; border: 1px solid #999; }
.b { text-align: center; }

.c{
    padding-right: 50px;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 16px;
}

.padding{
    padding: 50px;
    margin: 50px;
}

.center{
    display: none;
    align-items: center;
    justify-content: center;
}

.alignment {
    position: absolute;
    bottom: 170px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.alignment2 {
    position: absolute;
    bottom: -75px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    background: #04AA6D;
    border: none;
    cursor: pointer;
}

.alignment2:hover {
    color: #fff;
    background: black;
}

.noDisplay{
    display: none;
}

input [type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
  }

form input[type=text] {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
  }
  
  form button {
    background: transparent;
    border: 0;
    color: #fff;
  }

  input[type=text] {
    font-size: 75px;
    color: #fff;
    display: block;
  }


.hidden{
    display: none;
  }

.show{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.toggle{
    animation:fadeOut 1s linear;
    display: none;
}

.fadeMe {
    animation:fadeIn 1s linear;
  }
  
  @keyframes fadeIn {
    0% {
      opacity:0
    }
    100% {
      opacity:1;
    }
  }





  